OpenGLStuff/Debug
OpenGLStuff/x64
OpenGLStuff/.vs
/OpenGLStuff/Debug
/OpenGLStuff/x64
/OpenGLStuff/OpenGLStuff/OpenGLStuff.vcxproj.user
/OpenGLStuff/OpenGLStuff/Debug/
/OpenGLStuff/OpenGLStuff/x64
OpenGLStuff/OpenGLStuff/src/Application.cpp
/OpenGLStuff/OpenGLStuff/src/Application.cpp
cube_with_light/SolidCubeWidget.cpp
build-Cylinder-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/
build-SolidCube-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/
hiercyl(1).tar
hiercyl.7z
hiercyl.zip
tutorial4.tar
OpenGLStuff/OpenGLStuff/src/Application.cpp